.blog-page {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.main-featured-blog {
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-content {
  padding-top: 20px;
  text-align: left;
}

.blog-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.blog-content p {
  font-size: 1.2em;
}

.title-slider {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.title-slider h2 {
  font-size: 2em;
  color: #007bff;
  margin-top: 20px;
  font-weight: bold;
}

.all-blogs h2 {
  margin-top: 30px;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.blog-card {
  width: calc(33.333% - 20px);
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}



.blog-card img {
  width: 100%;
  height: auto;
}

.blog-card .blog-details {
  padding-top: 10px;
}

.blog-card h3 {
  margin-top: 10px;
}

.blog-card p {
  font-size: 0.9em;
  margin-top: 5px;
}

.unique-style {
  border-radius: 10px;
}

.read-more-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: rgba(162, 89, 255, 0.8);
  color: white;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 0.3s ease, background 0.3s ease, backdrop-filter 0.3s ease;
}

.read-more-button:hover {
  background: rgba(171, 108, 254, 0.9); /* Slightly darker background */
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.3), /* More prominent inset shadow */
              0 4px 6px rgba(0, 0, 0, 0.2); /* Slightly darker outer shadow */
  backdrop-filter: blur(8px); /* Increased blur for stronger effect */
  -webkit-backdrop-filter: blur(8px);
}
.main-featured-blog img {
  height: auto;    /* Maintains aspect ratio */
  display: block;  /* Removes space below the image */
  margin: 0 auto;  /* Centers the image horizontally */
}

