.faq-section {
  background-color: #160a33 !important; /* Change to #bebae0 if you prefer that */
  color: white; /* Text color for readability */
  padding: 20px;
  border-radius: 8px;
}
.accordion-item{
  background-color: #160a33 !important;
}
.accordion-body{
  background-color: #160a33 !important;
}