.circle-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 50%; 
  border: 5px solid white;
}

.orbiting-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 10s linear infinite;
  border-radius: 50%;
  border: 5px solid white;
}

.orbit-1 {
  animation-delay: 0s;
}

.orbit-2 {
  animation-delay: 2s;
}

.orbit-3 {
  animation-delay: 4s;
}

.orbit-4 {
  animation-delay: 6s;
}

.orbit-5 {
  animation-delay: 8s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(120px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(120px) rotate(-360deg);
  }
}
