@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* Apply Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
       font-family: "Montserrat", sans-serif;
        background: linear-gradient(130deg, #160433, #1e0f1e, #360845, #555353);
        background-attachment: fixed; 
        background-size: cover; 
} */
body {
    background: radial-gradient(circle, hsla(258, 67%, 12%, 1) 0%, hsla(259, 86%, 15%, 1) 50%, hsla(258, 62%, 4%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(258, 67%, 12%, 1) 0%, hsl(273.78deg 79.24% 6.88%) 50%, hsl(287.08deg 66.31% 9.94%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#160A33", endColorstr="#190545", GradientType=1);
    background-attachment: fixed;
    background-size: cover;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #160a33;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BEBAE0;
    border-radius: 4%;
}

